body {
	margin:0;
}

#header {
	background-color: #2D2727;
	color: #F0EB8D;
	font-family: "Roboto";
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	
}

#plays-container {
	display: flex;
	flex: 1;
	justify-content: center;
	gap: 20px;
}

.button-plays {
	height: 100px;
	width: 100px;
}

#results-container {
	display: flex;
	gap: 15px;
	justify-content: center;
	margin: 20px;
}

.display {
	color: white;
	background-color: grey;
	font-weight: bold;
}

.display div {
	font-weight: normal;
}

#display-history {
	border: red 1px solid;
}

#display-score {
	border: green 1px solid;
}

#display-last-match {
	border: blue 1px solid;
}